//
// CoreSheet - Theme
// A responsive Sass/CSS3 framework including a percentage-based grid system
//
// Theme Preview: http://coresheet.net/themes/monochrome-blue.html
//

// =====================================================
// Theme: Monochrome Blue
// =====================================================

// -----------------------------------------------------
// Colors
// -----------------------------------------------------
$page-background-color: #001c3b;
$page-font-color: #ffffff;
$page-brand-color-alpha: #0075c4;
$page-brand-color-beta: #00599e;
$page-brand-color-gamma: #00488b;
$page-brand-color-delta: #003f7a;
$page-brand-color-epsilon: #003164;
$page-brand-color-zeta: #0086e1;
$page-brand-color-classes: alpha $page-brand-color-alpha, beta $page-brand-color-beta, gamma $page-brand-color-gamma, delta $page-brand-color-delta, epsilon $page-brand-color-epsilon, zeta $page-brand-color-zeta;

// -----------------------------------------------------
// Typography
// -----------------------------------------------------
$links-text-color: $page-brand-color-zeta;
$links-text-color-hover: lighten($page-brand-color-beta, 7%);
$links-transition: color 0.15s;

// -----------------------------------------------------
// Horizontal Rulers
// -----------------------------------------------------
$horizontal-ruler-color: $page-brand-color-beta;

// -----------------------------------------------------
// Forms
// -----------------------------------------------------
$form-global-text-color: $page-font-color;

$input-text-background: $page-brand-color-epsilon;
$input-text-background-focus: $page-brand-color-gamma;
$input-text-border: 1px $page-brand-color-gamma solid;
$input-text-border-focus: 1px $page-brand-color-zeta solid;
$input-text-border-radius: 3px;
$input-text-box-shadow: none;
$input-text-box-shadow-focus: none;
$input-text-color-placeholder: lighten($page-brand-color-alpha, 5%);
$input-text-transition: background 0.2s, border 0.2s;

$input-radio-border: 1px $page-brand-color-zeta solid;
$input-radio-border-focus: 1px lighten($page-brand-color-zeta, 25%) solid;
$input-radio-background: $page-brand-color-delta;
$input-radio-background-focus: $page-brand-color-alpha;
$input-radio-checked-inner-circle-background: $page-font-color;

$input-checkbox-border: 1px $page-brand-color-zeta solid;
$input-checkbox-border-focus: $input-radio-border-focus;
$input-checkbox-background: $page-brand-color-delta;
$input-checkbox-background-focus: $input-radio-background-focus;
$input-checkbox-checkmark-color: $page-font-color;

// -----------------------------------------------------
// Buttons
// -----------------------------------------------------
$button-background: $page-brand-color-zeta;
$button-background-hover: $page-brand-color-beta;
$button-text-color: #ffffff;
$button-text-color-hover: #ffffff;
$button-border: 1px $page-brand-color-zeta solid;
$button-border-hover: 1px $page-brand-color-beta solid;
$button-border-radius: $input-text-border-radius;
$button-transition: background-color 0.2s, border 0.2s, color 0.2s;

$button-outline-background: transparent;
$button-outline-background-hover: $page-brand-color-beta;
$button-outline-text-color: $page-font-color;
$button-outline-text-color-hover: $page-font-color;
$button-outline-border: 1px $page-brand-color-alpha solid;
$button-outline-border-hover: $button-outline-border;

// -----------------------------------------------------
// Tables
// -----------------------------------------------------
$table-thead-background: darken($page-brand-color-epsilon, 4%);
$table-row-background: $page-brand-color-delta;
$table-row-even-background: $page-brand-color-epsilon;
$table-border: 1px $page-brand-color-beta solid;

// -----------------------------------------------------
// Navigation Menus
// -----------------------------------------------------
$navmenu-background: $page-brand-color-alpha;
$navmenu-background-hover: $page-brand-color-beta;
$navmenu-background-active: $page-brand-color-delta;
$navmenu-text-color: $page-font-color;
$navmenu-text-color-hover: $page-font-color;
$navmenu-text-color-active: #ffffff;
$navmenu-border: 1px $page-brand-color-gamma solid;
$navmenu-border-hover: 1px $page-brand-color-delta solid;
$navmenu-border-active: 1px darken($page-brand-color-delta, 40%) solid;
$navmenu-border-radius: $input-text-border-radius;
$navmenu-transition: $button-transition;

$navmenu-divider-background: $page-brand-color-beta;
$navmenu-clear-border: 1px transparent solid;